// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}
.el-dialog__header {
  font-weight: bold;
  // position: relative;
  // height: 66px;
}
.el-dialog__title {
  line-height: 24px;
  // font-size: 18px;
  // color: #303133;
  // position: absolute;
  // font-weight: bold;
}
.el-dialog__footer {
  width: 100%;
  // background-color: #f4f6f9;
  // padding-top: 16px;
  // height: 66px;
}
.el-upload__input {
  display: none;
}

.cell {
  .el-tag {
    margin-right: 0px;
  }
}

.small-padding {
  .cell {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.fixed-width {
  .el-button--mini {
    padding: 7px 10px;
    width: 60px;
  }
}

.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;

    .el-tag {
      margin-right: 0px;
    }
  }
}

// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

.el-button {
  user-select: unset;
}

// dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

// fix date-picker ui bug in filter-item
.el-range-editor.el-input__inner {
  display: inline-flex !important;
}

.el-checkbox__input.is-disabled+span.el-checkbox__label,.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner:after,.el-input.is-disabled .el-input__inner {
  color: #666!important
}
.el-timeline-item__node {
  width: 12px!important;
  height: 12px!important;
}
.el-tooltip__popper {
  max-width: 95vw;
}
